
* {
    -primary: white;
    -secondary: #CD113B;
    -tertiary: #FF7600;
    -quaternary: #EEEEEE;
}

.root {
    -fx-background-color: -primary;
    -fx-font-family: Arial;
}

.label {
    -fx-text-fill: white;
}

.grid-pane .label {
    -fx-text-fill: black;
}

.text-field {
    -fx-text-fill: black;
    -fx-background-color: -tertiary, -primary, -primary;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.text-field:focused {
    -fx-background-color: -tertiary, -primary, -primary;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;

}

.button {
    -fx-background-radius: 50%;
    -fx-background-insets: 0;
    -fx-background-color: -tertiary;
}

.h-box .button:hover {
    -fx-background-color: -primary;
}

.tool-bar {
    -fx-background-color: -primary;
}

.tool-bar .label {
    -fx-text-fill: -tertiary;
}

.menu-bar {
    -fx-background-insets: 0;
    -fx-background-color: -tertiary;
}

.menu-bar .label {
    -fx-text-fill: white;
}

.menu-bar .menu {
    -fx-text-fill: -tertiary;
}

.table-view {
    -fx-background-color: -primary;
}

.table-view .label {
    -fx-background-color: -secondary;
    -fx-text-fill: -quaternary;
    -fx-background-insets: 0;
}

